@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Insured Person</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <app>
        <component type="typeof(crud_blazor.Components.Home)" render-mode="ServerPrerendered" />
    </app>
    <script src="~/_framework/blazor.server.js"></script>
</body>
</html>